body {
    width: 1200px;
    height: auto;
    margin: 15px 0;

}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 70px;
    color: #636769;
    margin-top: 20px;
}

.navigation {
    display: flex;
    gap: 70px;
    align-items: center;
}


.center {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.button {
    width: 158px;
    height: 54px;
    background-color: #6157AB;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.title {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: 1px;
    color: #363B3D;
    height: 212px;
}

.subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.05px;
    color: #636769;
}

.main {
    margin: 100px 60px;
    width: 1200px;

}

.info-home {
    position: relative;
    display: flex;
    flex-direction: row;
}

.info {}

.home {
    position: absolute;
    top: 0;
    right: 0px;
}

.top {
    margin-top: 40px;
}

.learn {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-transform: capitalize;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

.more {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #6157AB;
}



.featured {
    margin-top: 119px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #96979A;

}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo1 {
    height: 18px;
    width: 128px;
}

.logo2 {
    width: 107px;
    height: 107px;
}

.logo3 {
    width: 144px;
    height: 114px;
}

.logo4 {
    width: 116px;
    height: 116px;
}

.logo5 {
    width: 115px;
    height: 115px;
}

.empower {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 52px;
    line-height: 64.8px;
    letter-spacing: 0.68px;
    text-align: center;
    color: #333333;
    ;
}

.Agents {
    width: 214px;
    height: 60px;
    border: 1px solid #6157AB;
    color: #6157AB;
}

.Buyers {
    width: 124px;
    height: 60px;
    border: 1px solid #AAB8BF;
    color: #7A858A;
}

.Listing {
    width: 213px;
    height: 60px;
    border: 1px solid #AAB8BF;
    color: #7A858A;
}

.Sellers {
    width: 132px;
    height: 60px;
    border: 1px solid #AAB8BF;
    color: #7A858A;
}

.Loan {
    width: 204px;
    height: 60px;
    border: 1px solid #AAB8BF;
    color: #7A858A;


}

.button-text {
    cursor: pointer;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.point {
    margin: 30px 100px;
    display: flex;
    justify-content: space-between;

}

.section {
    background: #F5F4F2;
}

.part1 {
    background: #FFFFFF;
    margin: 60px 60px 0 60px;
    display: flex;
    flex-direction: column;
    padding: 74px;
}

.buyer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.buyer1 {
    width: 50%;
}

.buyer2 {
    width: 50%;
    margin-left: 85px;
}

.small-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: #574D9C;
    margin: 30px 0;

}

.buyer-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
    color: #363B3D;
    width: 367px;
}

.buyer2-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #636769;
    margin: 30px 0;
}

.get {
    width: 223px;
    height: 54px;
    background-color: #6157AB;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 30px;

}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon-div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon-button {
    width: 70px;
    height: 70px;
    background-color: #6157AB;
    border-radius: 5px;
    color: #fff;
    margin: 30px 0;
}


.icon-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: #6157AB;
    justify-items: end;
    height: 40px;
}


.part2 {
    background: #E3E6F9;
    margin: 0 60px 0 60px;
    padding: 80px 60px;
}

.good {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 51px;
    line-height: 64.8px;
    letter-spacing: 0.68px;
    text-align: center;
    color: #323A5B;


}

.columns {
    display: flex;
    flex-direction: row;
    margin: 66px 0;
}

.column-text {
    width: 436px;
    height: 168px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
    color: #1E2224;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-text {
    margin-left: 10px;
}

.name {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #636769;
}

.last-name {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #636769;
}

.text-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    margin: 50px 0;
}

.button-text-small {
    width: 425px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: #363B3D;
    margin-bottom: 20px;
}

.more {
    width: 148px;
    height: 56px;
    background-color: #fff;
    border: 1px solid #574D9C;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #574D9C;
    margin-top: 20px;
}

.indicators {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.indicators-div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.seven {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 69px;
    line-height: 104.04px;
    letter-spacing: 0%;
    color: #323A5B;
}

.seven-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #323A5B;
}

.thirty {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 72px;
    line-height: 104.04px;
    letter-spacing: 0%;
    color: #323A5B;
}

.thirty-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #323A5B;
}

.five {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 70px;
    line-height: 104.04px;
    letter-spacing: 0%;
    color: #323A5B;
}

.five-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #323A5B;
}

.part3 {
    background: #574D9C;
    margin: 0 60px 60px 60px;
}

.footer {
    background: #050302;
    color: #FFFFFF;
}