.title{
    display: flex;
    justify-content:center;
    padding: 50px;
    font-size: 64px;
    color: #fff;
}

.tasks{
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 30px;
    align-items: center;


}
